.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
  position: relative;
  text-align: center;
}
.skill-bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 64px;
  padding: 60px 50px;
  margin-top: -60px;
  border: solid #F2EFE9;
  text-align: center;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}

.skill h3 {
	font-size: 35px;
	font-weight: 500;
	color: #BFB48F;
	padding-top: 20px;
}

.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-icons {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.sphere {
	perspective: 980px;
	background:
		radial-gradient(40px at 30% 30%, rgba(243, 243, 243, .05) 0%, rgba(243, 243, 243, .05) 99%, transparent 100%),
		radial-gradient(40px at 25% 20%, rgba(243, 243, 243, .5) 0, rgba(255, 255, 255, .2) 8%, transparent 40%, transparent 100%),
		radial-gradient(100px at 25% 20%, #8789C0 0%, transparent 100%),
		radial-gradient(100px at 80% 90%, #7209B7 0%, transparent 100%);
	border-radius: 50%;
	animation: hover 2s ease 0s infinite;
    height: auto;
	width: 95%;
}

.sphere img{
	height: auto;
	width: 95%;
}

@media (max-width: 768px) {
	.sphere {
	  width: 80%; /* Shrink size for smaller screens */
	  height: auto; /* Shrink size for smaller screens */
	}
	.sphere img{
		height: auto;
		width: 80%;
	}
  }
  
  @media (max-width: 480px) {
	.sphere {
	  width: 60%; /* Further shrink size for very small screens */
	  height: auto; /* Further shrink size for very small screens */
	}
	.sphere img{
		height: auto;
		width: 60%;
	}
  }

.sphere:after {
	content: '';
	position: absolute;
	left: 25%;
	top: 50%;
	z-index: -1;
	box-shadow: 0 100px 20px rgba(51, 51, 51, 0.5);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	transform: rotateX(70deg);
	animation: hover-shadow 2s ease 0s infinite;
}

@keyframes hover {
	0% {
		transform: translate(0, 0px);
	}

	50% {
		transform: translate(0, -10px);
	}

	100% {
		transform: translate(0, 0px);
	}
}

@keyframes hover-shadow {
	0% {
		box-shadow: 0 100px 20px rgba(51, 51, 51, 0.5);
	}

	50% {
		box-shadow: 0 120px 40px rgba(51, 51, 51, 0.5);
	}

	100% {
		box-shadow: 0 100px 20px rgba(51, 51, 51, 0.5);
	}
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 50px;
    justify-content: center;
    margin: 40px 0;
}


